.Events {
  background-image: url(../../assets/img/sections-background/specialties-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  &__header {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 40px 0;
  }
  &__contacts {
    width: 280px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    color: #ffffff80;
    padding: 45px 0;
    margin: 0 auto;
    &-numbers {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      &-link {
        font-weight: bold;
        color: #ffffff80;
      }
    }
  }
}

@media (min-width: 768px) {
  .Events {
    &__contacts {
      width: 680px;
      &-numbers {
        display: block;
      }
    }
  }
}
