.Navigation {
  border-top: 1px solid #ffffff33;
  border-bottom: 1px solid #ffffff33;
  padding: 8px 0;
  &__container {
    width: 280px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &__logo {
    cursor: pointer;
    &:hover,
    &:focus {
      -webkit-animation: scroll_around 2s infinite;
      animation: scroll_around 2s infinite;
    }
    &-item {
      line-height: 0;
    }
  }
  &__burger {
    position: relative;
    &-btn {
      width: 40px;
      height: 40px;
      border: 1px solid white;
      border-radius: 50%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: initial;
      outline: none;
      cursor: pointer;
    }
    &-bar {
      position: absolute;
      height: 2px;
      width: 16px;
      background-color: white;
      border-radius: 5px;
      top: 18px;
      left: 12px;
      cursor: pointer;
      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 16px;
        background-color: white;
        border-radius: 5px;
      }
      &::before {
        top: -4px;
      }
      &::after {
        top: 4px;
      }
    }
    &-close {
      position: absolute;
      top: 18px;
      left: 12px;
      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 16px;
        background-color: white;
        border-radius: 5px;
      }
      &::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

@-webkit-keyframes scroll_around {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  25% {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  75% {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  100% {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
}

@keyframes scroll_around {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  25% {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  75% {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  100% {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
}

@media (min-width: 375px) {
  .Navigation {
    &__container {
      width: 316px;
    }
  }
}

@media (min-width: 768px) {
  .Navigation {
    &__container {
      width: 660px;
    }
  }
}
