.Booking {
  &__contacts {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    color: rgba(51, 51, 51, 0.5);
    padding: 45px 0;
    &-numbers {
      font-weight: bold;
      &-link {
        color: rgba(51, 51, 51, 0.5);
      }
    }
  }
}
