.Booking-section {
  &__contacts {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    color: #33333380;
    padding: 45px 0;
    &-numbers {
      font-weight: bold;
      &-link {
        color: #33333380;
      }
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .Booking-section {
    width: 912px;
    margin: 0 auto;
    &-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
}

@media (min-width: 1280px) {
  .Booking-section {
    width: 1140px;
  }
}
