@import './normalize.scss';
@import './fonts.scss';
@import './variables.scss';
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

​img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

input:focus,
button:focus,
select:focus,
a:focus {
  outline: none;
}

input:active,
button:active,
select:active,
a:active {
  outline: none;
}
