.DesktopMenue {
  //
  &__navigation {
    //
    &-list {
      display: flex;
      align-items: center;
      text-align: center;
      &-item {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 11.1823px;
        line-height: 17px;
        text-transform: uppercase;
        padding: 10px;
        &-link {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
