.Specialties {
  background-image: url(../../assets/img/sections-background/specialties-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 64px;
  color: #ffffff;
  &__container {
    width: 290px;
    margin: 0 auto;
  }
  &__header {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 40px 0;
  }
}

@media (min-width: 768px) {
  .Specialties {
    padding-top: 24px;
    &__container {
      width: 680px;
      margin: 0 auto;
    }
    &__header {
      font-size: 11px;
    }
  }
}

@media (min-width: 1024px) {
  .Specialties {
    padding-top: 24px;
    &__container {
      width: 912px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
    }
    &__header {
      font-size: 11px;
    }
  }
}

@media (min-width: 1280px) {
  .Specialties {
    &__container {
      width: 1140px;
    }
  }
}

@media (min-width: 1600px) {
  .Specialties {
    &__container {
      width: 1424px;
    }
  }
}
