.Header {
  background-image: url(../../assets/img/sections-background/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 24px;
  margin-bottom: 64px;
  &__container {
    min-width: 320px;
    margin: 0 auto;
  }
}

.Main {
  padding-top: 40px;
  &__header {
    position: relative;
    text-align: center;
    font-family: 'Banny Bold Round';
    font-size: 34px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
    padding-bottom: 30px;
    &::after {
      position: absolute;
      content: '';
      width: 56px;
      height: 4px;
      background-color: #e8c300;
      border-radius: 46px;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-top: 16px;
    }
    &-name {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 13px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5em;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 8px;
    }
  }
  &__buttons {
    text-align: center;
    &-action {
      width: 124px;
      height: 42px;
      margin: 0 auto 48px;
      &-lable {
        padding: 12px 0;
        color: #ffffff;
        background-color: #e8c300;
        border: 1px solid #e8c300;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 16px;
        text-transform: uppercase;
        border-radius: 5px;
        &:hover,
        &:focus {
          background-color: transparent;
          border: 1px solid #ffffff80;
        }
      }
      &:nth-child(2) p {
        background-color: transparent;
        border: 1px solid #ffffff80;
        &:hover,
        &:focus {
          background-color: #e8c300;
          border: 1px solid #e8c300;
        }
      }
    }
    &-container {
      width: 280px;
      margin: 0 auto;
    }
  }
}

.Down {
  text-align: center;
  &__btn {
    background-image: url(../../assets/img/down-btn.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56px;
    height: 56px;
    background-color: transparent;
    outline: none;
    border: none;
    margin-bottom: 64px;
  }
}

@media (min-width: 375px) {
  .Header {
    padding-top: 40px;
    margin-bottom: 70px;
    &__container {
      min-width: 375px;
    }
  }
  .Main {
    &__header {
      font-size: 40px;
      line-height: 40px;
      &::after {
        margin-top: 18px;
      }
      &-name {
        margin-bottom: 18px;
      }
    }
    &__buttons {
      &-action {
        width: 144px;
        height: 52px;
        &-lable {
          padding: 16px 0;
          font-size: 12px;
          line-height: 19px;
        }
      }
      &-container {
        width: 336px;
      }
    }
  }
  .Down {
    &__btn {
      margin-bottom: 68px;
    }
  }
}

@media (min-width: 768px) {
  .Header {
    padding-top: 40px;
    margin-bottom: 70px;
    &__container {
      min-width: 680px;
    }
  }
  .Main {
    &__header {
      font-size: 40px;
      line-height: 40px;
      &::after {
        margin-top: 32px;
      }
      &-name {
        margin-bottom: 26px;
      }
    }
    &__buttons {
      &-action {
        width: 186px;
        height: 56px;
        &-lable {
          padding: 18px 0;
        }
      }
      &-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        width: 680px;
      }
    }
  }
  .Down {
    &__btn {
      margin-bottom: 68px;
    }
  }
}

@media (min-width: 1024px) {
  .Header {
    padding-top: 24px;
    &__container {
      min-width: 912px;
      position: relative;
    }
  }
  .Main {
    padding-top: 140px;
    position: relative;
    &__header {
      font-size: 89px;
      line-height: 64px;
      &::after {
        margin-top: 48px;
      }
      &-name {
        margin-bottom: 26px;
      }
    }
    &__social {
      width: 100%;
    }
  }
  .Down {
    &__btn {
      margin-bottom: 78px;
    }
  }
}

@media (min-width: 1280px) {
  .Header {
    margin-bottom: 0;
  }
}
